on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - synchronize

jobs:
  org-checks:
    uses: aspect-extensions/.github/.github/workflows/org-check.yaml@main
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: bazel-contrib/setup-bazel@0.15.0
      - name: Install Aspect CLI
        run: |
          curl -LO https://github.com/aspect-build/aspect-cli/releases/download/v2025.46.20/aspect-cli-x86_64-unknown-linux-musl
          chmod +x aspect-cli-x86_64-unknown-linux-musl
          mv aspect-cli-x86_64-unknown-linux-musl /usr/local/bin/aspect
      - name: Test
        working-directory: example
        shell: sh
        run: $GITHUB_WORKSPACE/example/README.md || exit 1
